<div class="row"> 
    <div class="col">
        <h1>Baseball Game</h1>
        <table>
            <td>
                Game Key:
            </td>
            <td>
                <div id = "randomValue" value = "" style="background-color:yellow;"></div>
            </td>
        </table>
        <br>
        (Guess = <span id="moves"></span>)
        <br>
        <table>
            <tr>
                <td>
                    <button id="button-1" style="background-color:lightcoral;" class="btn btn-secondary btn-lg">
                    1
                    </button>
                </td>
                <td>
                    <button id="button-2" style="background-color:lightcoral;" class="btn btn-secondary btn-lg">
                    2
                    </button>
                </td> 
                <td>
                    <button id="button-3" style="background-color:lightcoral;" class="btn btn-secondary btn-lg">
                    3
                    </button>
                </td>
            </tr>

            <tr>
                <td>
                    <button id="button-4" style="background-color:lightcoral;" class="btn btn-secondary btn-lg">
                    4
                    </button>
                </td>
                <td>
                    <button id="button-5" style="background-color:lightcoral;" class="btn btn-secondary btn-lg">
                    5
                    </button>
                    </button>
                </td> 
                <td>
                    <button id="button-6" style="background-color:lightcoral;" class="btn btn-secondary btn-lg">
                    6
                    </button>
                    </button>
                </td>
            </tr>

            <tr>
                <td>
                    <button id="button-7" style="background-color:lightcoral;" class="btn btn-secondary btn-lg">
                    7
                    </button>
                    </button>
                </td>
                <td>
                    <button id="button-8" style="background-color:lightcoral;" class="btn btn-secondary btn-lg">
                    8
                    </button>
                    </button>
                </td> 
                <td>
                    <button id="button-9" style="background-color:lightcoral;" class="btn btn-secondary btn-lg">
                    9
                    </button>
                </td>
                </tr>
                <tr>
                <td>
                    <button id="button-0" style="background-color:lightcoral;" class="btn btn-secondary btn-lg">
                        0
                    </button>
                </td>
            </tr>

        </table>
        <div class="row">
            <div class="col">
                <button id="button-new-game-baseball" class="btn btn-outline-primary">New Game</button>
            </div>
        </div>
    </div> <!--left pane:Game Board -->
    <div class="col">
        <h1>Status</h1>

 <div class="row">
    <br>
    <div class="col">
        <button id="button-history" class="btn btn-outline-primary">GamePlay History</button>
    </div>
    <br>
    <br>
    <div id="history" class="row" style="background-color:lightblue;">
        Ready to Play
    </div>
 </div>
 <br>
 <div class="container bg-secondary text-white">
    <div id="status-message"></div>
 </div>
</div> <!--right pane: Status-->
</div>