<div class="row">
    <div class="col">
        <h1>Where is the Firebase?</h1>
        <table>
            <td style="background-color:rgb(36, 236, 236); padding-right: 150px">
                Balance:
            </td>
            <td td style="background-color:rgb(36, 236, 236); padding-right:150px">
                Current Bets:
            </td>
            <td td style="background-color:green; padding-right:150px">
                (Debts:)
            </td>
        </table>
        <br>

        SECRET: Firebase card location: 

        <table>
            <tr>
                <td style=padding-right:25px>
                    <button id="button-0">
                        <img id="image-0" src="/images/blank.png" width="200" height="280">
                    </button>
                    <div class="input-group mb-4">
                        <button class="btn btn-outline-primary" type="button">-</button>
                        <input type="text" class="form-control" style="height: 50px; width: 100px">
                        <button class="btn btn-outline-danger" type="button">+</button>
                    </div>
                </td>
                <td style=padding-right:25px>
                    <button id="button-1">
                        <img id="image-1" src="/images/card.png" width="200" height="280">
                    </button>
                    <div class="input-group mb-4">
                        <button class="btn btn-outline-primary" type="button">-</button>
                        <input type="text" class="form-control" style="height: 50px; width: 100px">
                        <button class="btn btn-outline-danger" type="button">+</button>
                    </div>
                </td>
                <td style=padding-right:25px>
                    <button id="button-2">
                        <img id="image-2" src="/images/logo.png" width="200" height="280">
                    </button>
                    <div class="input-group mb-4">
                        <button class="btn btn-outline-primary" type="button">-</button>
                        <input type="text" class="form-control" style="height: 50px; width: 100px">
                        <button class="btn btn-outline-danger" type="button">+</button>
                    </div>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td style=padding-right:250px>
                    <button class="btn btn-outline-primary">Play</button>
                </td>
                <td style=padding-right:170px>
                    <button class="btn btn-outline-danger">New Game</button>
                </td>
                <td>
                    <button class="btn btn-outline-success">Loan 8 Coins</button>
                </td>
            </tr>
        </table>
    </div>

    <!--left pane:Game Board -->
    <div class="col">
        <h1>Status</h1>
        <div class="row">
            <div class="col">
                <button id="button-history" class="btn btn-outline-primary">GamePlay History</button>
                Most recent 10 transactions
            </div>
        </div>
        <br>
        <div class="container bg-secondary text-white">
            <div id="status-message"></div>
        </div>
    </div>
    <!--right pane: Status-->
</div>