rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /threads/{threadId} {
    allow create, read: if request.auth != null;
    //not implemented in Lesson1
    allow delete, update: if request.auth != null &&
                            request.auth.uid == resource.data.uid;
    } 
  match /replies/{replyId} {
    allow create, read: if request.auth != null;
   //not implemented in Lesson1
    allow update: if request.auth != null &&
                            request.auth.uid == resource.data.uid;
    allow delete: if request.auth != null &&
                            (request.auth.uid == resource.data.uid ||
                            request.auth.uid == resource.data.uid_thread);
                            
    } 
    
    match /tictactoe_game/{gameHistory} {
    allow create: if request.auth != null;
    allow read: if request.auth != null && request.auth.token.email == resource.data.email;
    }
   } 
  }